{
    "sites": {
        "google.com": {
            "check": true,
            "endpoints": {
                "/": {
                    "status": 200,
                    "dom_contains": "Google"
                },
                "/.well-known/security.txt": {
                    "status": 200,
                    "dom_contains": "security@google.com"
                }
            }
        }
    }
}
